body {
	font-family: var(--font-family);
	font-size: var(--font-size-xsm);
	line-height: 1.33;
	font-weight: var(--font-weighRegular);
	color: var(--color-lightBlack);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
