body {
	color: var(--color-lightBlack);
	font-weight: 400;
	font-size: var(--font-size-sm);
	line-height: 1.33;
	font-family: var(--font-family);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--color-creamy);

	min-width: 1280px;
}
