.container {
	margin-inline: auto;
	padding-inline: var(--padding-md);
	max-width: 1500px;
}

.visually-hidden {
	position: absolute !important;
	clip-path: inset(100%) !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}
