:root {
	--font-family: 'Lato', sans-serif;

	--color-lightBlack: #1e2022;
	--color-lightYellow: #fff76a;
	--color-lightOrange: #ffce89;
	--color-gray: #747576;
	--color-yellow: #ffe55e;
	--color-creamy: #fdfcf3;

	--padding-md: 40px;
	--padding-sm: 20px;

	--font-size-lg: 34px;
	--font-size-sm: 18px;
	--font-size-xsm: 14px;

	--gap-lg: 36px;
	--gap-md: 16px;
	--gap-sm: 12px;

	--border-radius-logo: 12px;

	--animate: 0.3s ease-in-out;
}
