.button {
	display: inline-flex;
	column-gap: var(--gap-sm);
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px 0 rgba(0 0, 0, 0.1);
	border: none;
	border-radius: var(--border-radius-logo);
	background-color: var(--color-yellow);
	padding: 18px;
}

.buttonMain {
	font-weight: 900;
	font-size: var(--font-size-sm);
	line-height: 1.33;
}

@media (any-hover: hover) {
	.button:hover {
		opacity: 0.8;
		transition: opacity var(--animate);
	}
}
