.addNotePage {
	display: flex;
	row-gap: var(--gap-base);
	flex-direction: column;
	margin-bottom: 20px;
	padding-top: var(--padding-sm);
	min-height: var(--min-height-content);
}
.form {
	display: flex;
	column-gap: var(--gap-base);
	justify-content: space-between;
	font-weight: 300;
}

.formInner {
	display: flex;
	row-gap: var(--gap-base);
	flex-direction: column;
}

.formDescription {
	flex-grow: 1;
}

.formFilter {
	flex-shrink: 0;
	flex-basis: 380px;
}

.filter {
	display: flex;
	column-gap: var(--gap-xlg);
	justify-content: space-between;
}

.formButtons {
	display: flex;
	column-gap: var(--gap-xlg);
}
