.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--padding-md);
	padding-bottom: var(--padding-sm);
}

.headerImage {
	background-color: var(--color-yellow);
}
