.textareaLabel {
	min-height: 340px;
}

.description {
	display: block;
	outline: transparent;
	box-shadow: var(--box-shadow-base);
	border: 1px solid transparent;
	border-radius: var(--border-radius-base);
	padding: 16px;
	width: 100%;
	min-height: 100%;
	overflow-y: auto;
	resize: none;
	color: var(--color-lightBlack);
}

.description:hover {
	border: 1px solid var(--color-primary-100);
	color: var(--color-primary-300);
}

.description:focus {
	border: 1px solid var(--color-primary-200);
	color: var(--color-lightBlack);
}

.description::placeholder {
	opacity: 0.8;
	color: var(--color-primary-300);
}
